<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="footer row">
                <div class="w-30">
                    <div class="add text-white">
                        <p>DevelopBy: Kashish Patel</p>
                        <p>Phone: +91 7984333082<br />
                            Email: kashishpatel5253@gmail.com</p>
                    </div>
                    <div class="row padding-20 ">
                        <div class="add2 social">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="add2 social">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="add2 social">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="add2 social">
                            <i class="fa-brands fa-skype"></i>
                        </div>
                        <div class="add2 social">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
                <div class="w-20">
                    <div class="link text-white">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><i class="fa-solid fa-angle-right"></i><a href="/product/home">Home</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="/product/shop">Shop</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="/product/productpage">Product</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="/user/signup">Signup</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="/user/login">Signin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-20">
                    <div class="link">
                        <h3>Our Services</h3>
                        <ul>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">Web Design</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">Web Development</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">Product Management</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">Marketing</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">Graphic Design</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-20">
                    <div class="link">
                        <h3>Devices</h3>
                        <ul>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">Mac</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">iPhone</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">iWatch</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">iPad</a></li>
                            <li><i class="fa-solid fa-angle-right"></i><a href="#">Tv&Shows</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>