<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/index.css">

<body>
    <%- include('nav') %>
        <div class="container">
            <div class="main-login">
                <div class="login-img">
                    <img src="/img/4957136.jpg" alt="">
                </div>
                <form action="/user/login" method="post" id="lform">
                    <h1>Login Account</h1>
                    <div class="main-form">
                        <label>Email </label><br>
                        <input type="text" name="email" id="email" placeholder="abc@gmail.com"><br>
                        <label>Password </label><br>
                        <input type="text" name="password" id="password" placeholder="At least 6 characters"><br><br>
                        <div class="main-box2">
                            <button type="submit" class="lbtn">SIGN IN</button>
                        </div>
                        <a href="/user/Forgot" id="forgot" class="forgetButton"><u>Forgot your password ?</u></a><br><br>
                        <p id="p">Don't have an account yet ? <a href="/user/signup">Create account</a></p>
                    </div>
                </form>
            </div>
        </div>
        <%- include('footer') %>
</body>

</html>